html {
  background-color: rgb(0, 0, 0);
  z-index: 1;
}

.navbar {
  display: flex;
  flex: 0.5;
  justify-content: center;
  background-color: black;
  position: fixed;
  top: 0;
  margin: 0%;
  padding: 0%;
  width: 95vw;
  z-index: 3;
  font-size: 2.25vw;
}
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding-top: 0px;
  padding-inline: 2%;
  text-decoration: none;
  font-family: "Copperplate", "Chalkduster", "Lucidia Sans";
}

.navbar a:hover {
  background: #ddd;
  color: black;
  opacity: 0.75;
  font-size: 2.75vw;
}

.main {
  margin-right: 5%;
  margin-left: 5%;
}

.netball-title {
  color: white;
  font-size: 55px;
  font-family: chalkduster;
  text-align: center;
  opacity: 0.9;
}

.flex-container{
  display: flex;
}

.flex-child-a{
  float: left;
}

.flex-child-b{
  float: right;
}

.origins {
  color: white;
  font-family: "Copperplate", "Chalkduster", "Lucidia Sans";
  text-align: left;
  margin-right: 25px;
  background-color: auto;
}

.basics {
  color: white;
  font-family: "Copperplate", "Chalkduster", "Lucidia Sans";
  text-align: left;
  margin-left: 25px;
  background-color: auto;
}

.court-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 80%;
  background-color: paleturquoise;
}

.positions {
  color: white;
  font-family: "Copperplate", "Chalkduster", "Lucidia Sans";
  background-color: darkolivegreen;
}

.positions-heading{
  text-align: center;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

.rules{
  color: white;
  font-family: "Copperplate", "Chalkduster", "Lucidia Sans";
  text-align: left;
  background-color: auto;
}

.professional{
  color: white;
  font-family: "Copperplate", "Chalkduster", "Lucidia Sans";
  text-align: left;
  background-color: auto;
}

footer {
  color: white;
  text-align: center;
  font-size: 24px;
  border: 2px solid white;
  padding: 3px;
  background: black;
}